.main {
  margin: 150px 10px;
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25),
    -2px -2px 10px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 30px;
}

.description {
  margin-top: 50px;
  font-size: 18px;
  font-weight: 500;
  color: #53646e;
}

.label-input {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px 0;
  width: 100%;
}

.input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: #f0f2f5;
  font-size: 18px;
}

.label {
  font-size: 18px;
  color: #53646e;
  padding: 10px 0;
}

.error {
  visibility: visible;
  height: 0;
  color: #e40505;
  font-size: 12px;
}

.hidden-error {
  visibility: hidden;
  height: 0;
}

.btn {
  font-family: "Open Sans", sans-serif;
  margin-top: 20px;
  padding: 10px 30px;
  background-color: #00aa85;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #1ec5a1;
}

@media (max-width: 520px) {
  .main {
    width: 90vw;
  }
  .description {
    font-size: 16px;
  }
  .btn {
    padding: 7px 20px;
    font-size: 14px;
  }
}